<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>导航管理</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/demo.css">
	<script type="text/javascript" src="__PUBLIC__/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/easyui/jquery.easyui.min.js"></script>

	<link rel="shortcut icon" href="favicon.ico"> <link href="css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/hplus/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="__PUBLIC__/hplus/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/hplus/css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
</head>
<body>
	<h2>导航管理</h2>
	<p>请根据导航栏位置合理选择需要显示再导航栏的分类</p>
	<div style="margin:20px 0;"></div>
	<div class="easyui-panel" style="padding:5px">
		<form method="post" action="entryClassLevel" class="form-horizontal" target="_self" id = "form">
		 <ul class="easyui-tree">
			<foreach name="tree" item="vo" key="k" >
			<li>
				<span><input type="checkbox" <if condition="!empty($nav[$vo[id]])">checked="checked"</if>  name="" value="{$vo.id}">{$vo.name}</span>
				<ul>
					<foreach name="vo.sub" item="s_type" key="kk" >
					<li >
						<span> <input type="checkbox" <if condition="!empty($nav[$vo[id]]['sub'][$s_type[id]])">checked="checked"</if>  name="tree[{$vo['id']}][{$s_type.id}]" value="{$s_type.id}">{$s_type.name} </span>

					</li>
					</foreach>
				</ul>
			</li>
		</foreach>
		</ul>
	</form>
	</div>
	<p></p>
	<p></p>
	<div class="">              	
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-warning " type="button" onclick="form_submit()"><span class="bold">确定</span>
	</div>
<script type="text/javascript">
	        function form_submit(){
                 if (confirm("是否确认保存"))  { 
                        $("#form").submit();
                 }

            }
</script>

</body>
</html>