<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加分类</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="__PUBLIC__/hplus/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/hplus/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/hplus/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/hplus/css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>添加分类<small></small></h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" target="_self" id = "form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">分类名称</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="name" id = "name" value="{$class_info['name']}"> 
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">排序权重</label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control" name="sort" id = "sort" value="{$class_info['sort']}"> (0-99 数字越大排序越靠前)
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">分类等级level</label>
                                <div class="col-sm-2">
                                    <select class="form-control m-b" name="level" onChange="getlevel()" id = "level">
                                            <option value="0">请选择</option>
                                        <foreach name="dict['level']" item="vo" key="k" >
                                            <option value="{$k}" <if condition="$k eq $class_info[level]">selected="selected"</if> >{$vo}</option>
                                        </foreach>
                                    </select>
                                    <span class="help-block m-b-none">该字段会影响分类显示的层级（一级为最顶级）</span>
                                </div>
                            </div>


                            <div id="div_top_type"  <if condition="$class_info[level] eq 1">style="display: none;"</if> >
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">一级分类</label>
                                    <div class="col-sm-2">
                                        <select class="form-control m-b" name="top_p_id" onChange="getDataForAjax()" id = "cate">
                                             <foreach name="class_list" item="vo" key="k" >
                                                 <option value="{$vo.id}" <if condition="$vo.id eq $class_info[top_p_id]">selected="selected"</if>>{$vo.name}</option>
                                             </foreach>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="id" value="{$class_info['id']}">
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="button" onclick="form_submit()">保存内容</button>
                                    <button class="btn btn-white" type="submit">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script>
            function getDataForAjax() {
                p_id = $('#cate').val();
                level = $('#level').val();
                if(level == 3){
                        $.ajax({
                        type:"get",
                        url:"{$Think.const.BAIKE_ADMIN_URL}/entryAjax",
                        dataType:'json',
                        data:{
                            p_id:p_id
                        },
                        success:function (data) {
                            console.log(data);
                            $('#s_p_type').empty();
                            for(var i = 0;i < data.length;i++){
                                $('#s_p_type').append("<option value=" + data[i]['id'] + ">"
                                    + data[i]['name'] + "</option>");
                            }
                        }
                        });
                }

            }

            function getlevel(){
                 level = $('#level').val();
                 if(level == 1){
                    $("#div_top_type").hide();
                    $("#div_s_type").hide();
                 }
                 if(level == 2){
                    $("#div_top_type").show();
                    $("#div_s_type").hide();
                 }
                 if(level == 3){
                    $("#div_top_type").show();
                    $("#div_s_type").show();
                 }

            }

            function form_submit(){
                 name = $('#name').val();
                 level = $('#level').val();
                 p_id = $('#cate').val();
                 s_p_type = $('#s_p_type').val();
                 if(name == ''){
                    alert('分类名称不能为空');
                    return false;
                 }
                if(level == '' || level == 0){
                    alert('分类等级不能为空');
                    return false;

                 }

                 if(level == 2 && (p_id == '' || p_id  == 0)){
                    alert('请填写分类');
                    return false;

                 }

                if(level == 2 && (p_id == '' || p_id  == 0 || s_p_type == '' || s_p_type  == 0)){
                    alert('请填写正确二级分类');
                    return false;

                 }

                 if (confirm("是否确认保存"))  { 
                        $("#form").submit();
                 }

            }
        </script>
    <script src="__PUBLIC__/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/hplus/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="__PUBLIC__/hplus/js/content.min.js?v=1.0.0"></script>
    <script src="__PUBLIC__/hplus/js/plugins/iCheck/icheck.min.js"></script>
    <script type="text/javascript" charset="UTF-8"></script>
</body>

</html>