<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>入口管理 </title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/hplus/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/hplus/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/hplus/css/plugins/footable/footable.core.css" rel="stylesheet">
    <link href="__PUBLIC__/hplus/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/hplus/css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
    <link href="__PUBLIC__/hplus/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <!-- Data Tables -->
    <link href="__PUBLIC__/hplus/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <link href="__PUBLIC__/hplus/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
    <!--弹窗 -->
    <link rel="stylesheet" href="__PUBLIC__/my_popup/my_popup.css">

</head>
<body class="gray-bg">
     <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                    <h5>入口导航管理<small> </small>
                    </h5>
                    <form action="postIndexNav" method="post"   target="_self">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th><!-- <input type="checkbox" name=""/> -->名称</th>
                                    <th>分类</th>
                                    <th>展示图片</th>
                                    <th>状态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <foreach name="list" item="vo" key="k" >
                                    <tr class="gradeA">
                                        <td>第{$k+1}个入口</td>
                                        <td>
                                        <select class="form-control m-b" name="class_id[{$vo.id}]" id = "cate">
                                             <foreach name="entry_class" item="v">
                                                 <option value="{$v.id}" <if condition="$v[id] eq $vo[class_id]">selected="selected"</if>> {$v.name}</option>
                                             </foreach>
                                        </select>
                                        </td>
                                        <td id="11">
                                            <!-- <img alt="image"  width="100" height="100" src="__PUBLIC__/hplus/img/p1.jpg" />  -->
                                            <input type="hidden" name="pic_id[{$vo.id}]" id = "pic_id_{$vo.id}" value="{$vo.pic_id}">
                                            <input type="hidden" name="img_url[{$vo.id}]" id = "img_url_{$vo.id}" value="{$vo.img_url}" >
                                            <img alt="image"  width="100" height="100" src="{$Think.const.IMG}{$vo.pic_url}" id = "new_img_{$vo.id}"/> 
                                            <button class="btn1 popup-show" data-linked-id="myPopup" type="button" nav_id = "1" onclick="choose_pic({$vo.id})">选择图片</button>
                                        </td>
                                        <td>1</td>
                                    </tr>
                                </foreach>
                            </tbody>
                        </table>
                        <button class="btn btn-warning " type="submit">
                            <span class="bold">保存
                        </span>
                        </button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- <button id="btn-one">我是一个普通按钮</button>-->    
<!--  <button class="btn1 popup-show" data-linked-id="myPopup">出来吧</button> -->
    <div class="my-popup" id="myPopup">
        <div class="popup-content">
                <div class="wrapper wrapper-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content layer-photos-demo" id="layer-photos-demo">
                                  <foreach name="pic_id_index" item="vo" key="k" >
                                    <a  title="">
                                         选择<input name='pic' type="radio" value="{$vo.id}" /> 
                                        <img alt="image" width="100" height="100" id="img_{$vo.id}" src="{$Think.const.IMG}{$vo.link}{$vo.thumb_name}" />
                                    </a>
                                  </foreach>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
            <button class="popup-close" data-linked-id="myPopup">关闭</button>
            <button id="btn2" class="popup-close" data-linked-id="myPopup">确定</button> 
        </div>
    </div>
    <!--index_nav_id 中转-->
    <input type="hidden" id="tmp_nav_id" value="">

    <script src="__PUBLIC__/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/hplus/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="__PUBLIC__/hplus/js/plugins/footable/footable.all.min.js"></script>
    <script src="__PUBLIC__/hplus/js/content.min.js?v=1.0.0"></script>
    <script src="__PUBLIC__/hplus/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
    <script src="__PUBLIC__/my_popup/my_popup.js"></script>

    <script>
        $(document).ready(function(){$(".footable").footable();$(".footable2").footable()});
    </script>
    <script>
        window.onload = function () {
            //var oBtnOne = document.getElementById("btn-one");
            var oBtnTwo = document.getElementById('btn2');
            // var oMsg = document.getElementById('msg');
            var myPopup = new MyPopup('myPopup', {
                param: {
                    isfixed: false,                     // 弹窗是否固定居中（默认true可以） 值：true、false
                    bgclose: false,                     // 可否通过点击背景关闭弹窗 （默认true可以） 值：true、false
                    type: 'none',                   // 弹窗出现的方式（默认none无动画） 值：none、opacity、top、right、bottom、left
                    time: 400,                          // 弹窗出现动画的时长（默认200ms）
                    bgcolor: '#000',                    // 背景颜色（默认transparent）
                    opacity: 0.2                        // 背景透明度（默认0）
                },
                showFn: function () {
                    console.log('弹窗出现之前执行的同步函数');
                },
                closeFn: function () {
                    console.log('弹窗关闭之前执行的同步函数');
                }
            })

            // oBtnOne.onclick = function () {
            //     myPopup.show(null, {top:100, left:100});
            // }
 

            oBtnTwo.onclick = function () {
                var pic_id = $("input[name='pic']:checked").val();
                var pic_url = $("#img_"+pic_id).attr('src');
                var nav_id = $("#tmp_nav_id").val();

                $("#new_img_"+nav_id).attr('src',pic_url);

                $("#pic_id_"+nav_id).val(pic_id);
                $("#img_url_"+nav_id).val(pic_url);
            }
        }

        function choose_pic(id){
            $("#tmp_nav_id").val(id);
        }
    </script>
</body>

</html>