<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签管理 </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/hplus/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/hplus/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/hplus/css/plugins/footable/footable.core.css" rel="stylesheet">
    <link href="__PUBLIC__/hplus/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/hplus/css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
    <link href="__PUBLIC__/hplus/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <!-- Data Tables -->
    <link href="__PUBLIC__/hplus/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <link href="__PUBLIC__/hplus/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
</head>
<body class="gray-bg">
     <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                    <h5>标签管理<small> </small>
                    </h5>
                    <form action="" method="get" id="form"  target="_self">
                    <div class="ibox-content">
                        <div class="">
                                <label>等级 
                                    <select name="class" class="form-control ">
                                        <foreach name="entry_class" item="vo" key="k" >
                                            <option value="{$vo.id}" <if condition="$vo[id] eq $class_id">selected="selected"</if> >{$vo.name}</option>
                                        </foreach>
                                    </select> 
                                </label>
   
                            <button class="btn btn-primary " type="submit">
                            <span class="bold">查找
                        </span>
                        </button>
                        </div>
                    </div>
                    </form>
                    <form action="{$Think.const.BAIKE_ADMIN_URL}post_top_tag" method="post"   target="_self">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>位置</th>
                                    <th>名称</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <for start="1" end="5">
                                <if condition="$tag[$i]">
                                    <tr class="gradeA">
                                            <td>第{$i}标签 <input type="hidden" name="update_tag[{$i}][id]" value="{$tag[$i]['id']}"></td>
                                            <td><input type="input" name="update_tag[{$i}][name]" value="{$tag[$i]['name']}"></td>
                                            <td>                                            
                                                <a href="{$Think.const.BAIKE_ADMIN_URL}subtag_add.html?p_id={$tag[$i]['id']}" target="_self">
                                                <button class="btn btn-info " type="button"><i class="fa fa-paste"></i> 添加</button>
                                                </a>  
                                                <a href="{$Think.const.BAIKE_ADMIN_URL}subtag_list.html?p_id={$tag[$i]['id']}" target="_self">
                                                    <button class="btn btn-info " type="button"><i class="fa fa-list"></i>子类</button>
                                                </a> 
                                             </td>
                                        </tr>
                                    <else/>
                                        <tr class="gradeA">
                                            <td>第{$i}标签</td>
                                            <td><input type="input" name="insert_tag[{$i}][name]" value=""></td>
                                            <td>                                            
                                             </td>
                                        </tr>
                                  </if>    
                                </for>
                                    
                            </tbody>
                        </table>
                        <input type="hidden" name="class_id" value="{$class_id}">
                        <button class="btn btn-warning " type="submit">
                            <span class="bold">保存
                            </span>
                        </button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--index_nav_id 中转-->
    <input type="hidden" id="tmp_nav_id" value="">
    <script src="__PUBLIC__/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/hplus/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="__PUBLIC__/hplus/js/plugins/footable/footable.all.min.js"></script>
    <script src="__PUBLIC__/hplus/js/content.min.js?v=1.0.0"></script>
    <script src="__PUBLIC__/hplus/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>

    <script>
        $(document).ready(function(){$(".footable").footable();$(".footable2").footable()});
    </script>

</body>

</html>