<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>宅宠百科_内容页1</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/all.css" />

<!--fullSlide s-->
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/superslide.2.1.js"></script>
<!--fullSlide e-->
<script src="__PUBLIC__/js/tab.js"></script>
<script src="__PUBLIC__/js/menu.js"></script>
</head>
<body>
<div class="header">
    <div class="logo">
    <include file="header" />
   </div>
</div>
<div class="wrap height-30"> 
  <!--fullSlide s-->
    <include file="slide" />
  <!--fullSlide end-->
      <include file="nav" />

  <div class="nr w1136">
    <div class="nr-tit"><span class="fr" style="color:#cacaca; font-size:10px;"><img src="__PUBLIC__/images/wujiao.png" width="16px"> 收藏</span>{$info['name']}</div>
    <div class="nr-xq">
      <div class="fl">
        <p><span class="fr"><i>易患病：</i> {$info['e_disease']}
          </span>
          <i>英文名：</i> {$info['en_name']} 
        </p>
        <p><span class="fr"><i>寿命：</i> {$info['life']}</span><i>性格：</i> {$info['character']}</p>
        <p><i>祖籍：</i>{$info['descent']}</p>
        <br>
        <p>长度：{$dict['len'][$info['len']]}；生存环境温度：{$dict['tem'][$info['tem']]}；酸碱度：{$dict['ph'][$info['ph']]}</p>
      </div>
      <div class="fr"><a href="javascript:void(0)" class="addbut"><img src="{$Think.const.IMG}{$pic_cover.link}/{$pic_cover.thumb_name}" width="330"  height="220"></a><br>
        <br>
        相册（{$pic_num}张图片）</div>
    </div>
  </div>
  <!-- 代码 开始 -->
  <div id="tab" class="w1136">
    <div class="tabList">
      <ul>
        <li class="cur">内容</li>
        <li>问答</li>
<!--         <li>讨论</li>
        <li>与论坛连接</li> -->
      </ul>
    </div>
  <div class="tabCon w1136_w">
      <div  class="cur">
    <ul>
      <li class="m_10"> 
      <dl class="menu_min"><span class="menu_tit">品种简介</span> <p class="x-xian2"></p></dl> 
     
      <dl class="nav_min">
          <span class="menu_tit_p"> <p>{$info.introduction}</p>
        </span>
         <if condition="!empty($introduction_pic)">
          <img src="{$Think.const.IMG}{$introduction_pic.link}/{$introduction_pic.thumb_name}" width="238" height="169">
        </if>
      </dl>
      </li>
      <li> 
        <dl class="menu_min"><span class="menu_tit">喂养方式</span> <p class="x-xian2"></p></dl> 
          <dl class="nav_min">
              <span class="menu_tit_p"> <p>{$info.feed}</p>
              </span>
              <if condition="!empty($feed_pic)">
                <img src="{$Think.const.IMG}{$feed_pic.link}/{$feed_pic.thumb_name}" width="238" height="169">
              </if>
        </dl>
      </li>
    </ul>
    </div>
      <div><ul class="menu_list">
        <foreach name="question" item="vo" key="k" >
          <li class=""> <span class="fuMenu">{$vo.title}</span> 
            <img class="xiala" src="__PUBLIC__/images/xia.png" />
            <dl class="nav10">
            </dl>
            <p class="zcd" id="zcd1">{$vo.content}</p>
          </li>
        </foreach> 
<!--           <li class=""> <span class="fuMenu">鱼字拼音yu，鱼类（fish）是最古老的脊椎动物。</span> <img class="xiala" src="__PUBLIC__/images/xia.png" />
            <dl class="nav10">
            </dl>
            <p class="zcd" id="zcd2">世界上现存已发现的鱼类约三万二千种，鱼生活在水里，分布在海洋和淡水中，海洋中生活着占三分之二，其余的生活在淡水中。中国计有二千五百种，其中可供药用的有百种以上，常见的药用动物有海马、海龙、黄鳝、鲤鱼、鲫鱼、鲟鱼（鳔为鱼鳔胶）</p>
          </li>   -->
        </ul>
      </div>
<!--       <div>被风吹过的夏天、江南、一千年以后</div>
      <div>十年、K歌之王、浮夸</div> -->
    </div>
  </div>
  <!-- 代码 结束 --> 
</div>
<!--footer s-->
  <include file="foot" />


<!--footer e--> 
  <div class="back"><img src="__PUBLIC__/images/back.png"></div>
<!--弹窗-->
<div class="jmxx">
  <div class="bg"></div>
  <div class="v_out1 v_out_p1"> <a class="close"></a>
    <div class="prev1"><a href="javascript:void(0)"></a></div>
    <div class="v_show1">
      <div class="v_cont1">
        <ul>
          <foreach name="pic_list" item="vo" key="k" >
            <li index="{$k}"><img src="{$Think.const.IMG}{$vo.link}/{$vo.name}" width="630" height="420"></li>
          </foreach>
        </ul>
      </div>
    </div>
    <div class="next1"><a href="javascript:void(0)"></a> </div>
    <ul class="circle1">
      <foreach name="pic_list" item="vo" key="k" >
      <li class=""><img src="{$Think.const.IMG}{$vo.link}/{$vo.thumb_name}" width="130" height="102"></li>
      </foreach>
<!--       <li class="circle-cur1"><img src="__PUBLIC__/images/nr-xq-t1-s.jpg" ></li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li> -->
    </ul>
  </div>
</div>
<script type="text/javascript">
     $(function(){
        /*======next======*/
        $(".next1 a").click(function(){ nextscroll() });

        function nextscroll(){

            var vcon = $(".v_cont1 ");
            var offset = ($(".v_cont1 li").width())*-1;
            
            vcon.stop().animate({left:offset},"slow",function(){

               var firstItem = $(".v_cont1 ul li").first();
               vcon.find("ul").append(firstItem);
               $(this).css("left","0px");

               circle()
              
            });  
          
        };
        function circle(){
            
            var currentItem = $(".v_cont1 ul li").first();
            var currentIndex = currentItem.attr("index");

            $(".circle1 li").removeClass("circle-cur1");
            $(".circle1 li").eq(currentIndex).addClass("circle-cur1");
            
        }

        //setInterval(nextscroll,2000)
         
        /*======prev======*/
        $(".prev1 a").click(function(){

            var vcon = $(".v_cont1 ");
            var offset = ($(".v_cont1 li").width()*-1);

            var lastItem = $(".v_cont1 ul li").last();
            vcon.find("ul").prepend(lastItem);
            vcon.css("left",offset);
            vcon.animate({left:"0px"},"slow",function(){
               circle()
            })

         });

         /*======btn====circle======*/
         var animateEnd = 1;

        $(".circle1 li").click(function(){

             if(animateEnd==0){return;}

             $(this).addClass("circle-cur1").siblings().removeClass("circle-cur1");
          
            var nextindex = $(this).index();
            var currentindex = $(".v_cont1 li").first().attr("index");
            var curr = $(".v_cont1 li").first().clone();
            
            if(nextindex > currentindex){

                for (var i = 0; i < nextindex - currentindex; i++) {
                   
                   var firstItem = $(".v_cont1 li").first();
                   $(".v_cont1 ul").append(firstItem); 
                    
                }

                $(".v_cont1 ul").prepend(curr);

                var offset = ($(".v_cont1 li").width())*-1;

                if(animateEnd==1){

                  animateEnd=0; 
                  $(".v_cont1").stop().animate({left:offset},"slow",function(){

                      $(".v_cont1 ul li").first().remove();
                      $(".v_cont1").css("left","0px");
                      animateEnd=1;

                  }); 

                } 

            }else{

                var curt = $(".v_cont1 li").last().clone();

                for (var i = 0; i < currentindex - nextindex; i++) {
                   var lastItem = $(".v_cont1 li").last();
                   $(".v_cont1 ul").prepend(lastItem);
                }

                $(".v_cont1 ul").append(curt);

                var offset = ($(".v_cont1 li").width())*-1;

                $(".v_cont1").css("left",offset);
                    

                  if(animateEnd==1){

                    animateEnd=0; 
                    $(".v_cont1").stop().animate({left:"0px"},"slow",function(){
                      
                      $(".v_cont1 ul li").last().remove();
                      animateEnd=1;
                      
                    }); 

                  } 
              
              }

        });

     })
  
</script>
</body>
</html>
