<div class="dh w1136">
    <a href="">观赏鱼</a>
    <a href="">宠物龟</a>
    <a href="">缸内植物</a>
    <a href="">观赏虾</a><a href="">鱼缸设备</a> </div>
  <div class="dh1 w1136">
    <ul>
      <li><a href="">灯科鱼</a>
        <div class="dh-cd"><a href="">观赏鱼</a><a href="">宠物龟</a><a href="">缸内植物</a><a href="">观赏虾</a><a href="">鱼缸设备</a></div>
      </li>

      <li><a href="#">鳉鱼</a>
        <div class="dh-cd"><a href="">宠物龟</a><a href="">缸内植物</a><a href="">观赏虾</a><a href="">鱼缸设备</a></div>
      </li>
      <li><a href="#">丽丽鱼</a>
        <div class="dh-cd"><a href="">缸内植物</a><a href="">观赏虾</a><a href="">鱼缸设备</a></div>
      </li>
      <li><a href="#">鼠鱼</a>
        <div class="dh-cd"><a href="">观赏虾</a><a href="">鱼缸设备</a></div>
      </li>
      <li>
        <a href="#">龙鱼</a>
        <div class="dh-cd"><a href="">鱼缸设备</a></div>
      </li>
      <li><a href="#">罗汉鱼</a>
        <div class="dh-cd"><a href="">观赏虾</a><a href="">鱼缸设备</a></div>
      </li>
    </ul>
  </div>
  <ul class="dh2 w1136">
     <li id="dh2-h">
      <span class="dh2-tit dh2-tit-h" >温度</span>
      <p class="fl">
        <div class="dh2-tit-h">
        <label>
          <input type="radio" name="wendu" value="10度以下" id="wendu">
          <span></span> 10度以下</label>
        <label>
          <input type="radio" name="wendu" value="10-15度" id="wendu_1">
          <span></span> 10-15度</label>
        <label>
          <input type="radio" name="wendu" value="16-20度" id="wendu_2">
          <span></span> 16-20度</label>
        <label>
          <input type="radio" name="wendu" value="21-25度" id="wendu_3">
          <span></span> 21-25度</label>
                  <label>
          <input type="radio" name="wendu" value="10度以下" id="wendu_4">
          <span></span> 10度以下</label>
        <label>
          <input type="radio" name="wendu" value="10-15度" id="wendu_5">
          <span></span> 10-15度</label>
        <label>
          <input type="radio" name="wendu" value="16-20度" id="wendu_6">
          <span></span> 16-20度</label>
        <label>
          <input type="radio" name="wendu" value="21-25度" id="wendu_7">
          <span></span> 21-25度</label>

        <label>
          <input type="radio" name="wendu" value="10度以下" id="wendu_8">
          <span></span> 10度以下</label>
        <label>
          <input type="radio" name="wendu" value="10-15度" id="wendu_9">
          <span></span> 10-15度</label>
        <label>
          <input type="radio" name="wendu" value="16-20度" id="wendu_10">
          <span></span> 16-20度</label>
        <label>
          <input type="radio" name="wendu" value="21-25度" id="wendu_11">
          <span></span> 21-25度</label>
                  <label>
          <input type="radio" name="wendu" value="10度以下" id="wendu_12">
          <span></span> 10度以下</label>
        <label>
          <input type="radio" name="wendu" value="10-15度" id="wendu_13">
          <span></span> 10-15度</label>
        <label>
          <input type="radio" name="wendu" value="16-20度" id="wendu_14">
          <span></span> 16-20度</label>
        <label>
          <input type="radio" name="wendu" value="21-25度" id="wendu_15">
          <span></span> 21-25度</label>
          </div>
      </p>
    </li>

    <li><span class="dh2-tit">长度</span>
      <p class="fl">
        <label>
          <input type="radio" name="zdu" value="1CM以下" id="zdu">
          <span></span> 1CM以下</label>
        <label>
          <input type="radio" name="zdu" value="1-2CM" id="zdu_1">
          <span></span> 1-2CM</label>
        <label>
          <input type="radio" name="zdu" value="2-3CM" id="zdu_2">
          <span></span> 2-3CM</label>
      </p>
    </li>
    <li><span class="dh2-tit">PH值</span>
      <p class="fl">
        <label>
          <input type="radio" name="PH" value="6.5-7" id="PH">
          <span></span> 6.5-7</label>
        <label>
          <input type="radio" name="PH" value="7-7.5" id="PH_1">
          <span></span> 7-7.5</label>
        <label>
          <input type="radio" name="PH" value="7.5-8" id="PH_2">
          <span></span> 7.5-8</label>
      </p>
    </li>
    <li><span class="dh2-tit">食物类容</span>
      <p class="fl">
        <label>
          <input type="radio" name="PH" value="6.5-7" id="PH">
          <span></span> 6.5-7</label>
        <label>
          <input type="radio" name="PH" value="7-7.5" id="PH_1">
          <span></span> 7-7.5</label>
        <label>
          <input type="radio" name="PH" value="7.5-8" id="PH_2">
          <span></span> 7.5-8</label>
      </p>
    </li>
  </ul>