<style type="text/css">
a.nodefault{ 
  text-decoration:none; 
  color:#333; 
} 
</style>
<div class="dh w1136">
    <foreach name="top" item="vo" key="k" >
          <a href="{:U(search,array('top_class_id'=>$vo[id]))}"  <if condition="$top_class_id eq $vo[id]"> style="background: #0071a4;" </if>>{$vo.name}</a>
    </foreach>  
  </div>
  <div class="dh1 w1136">
    <ul>
        <foreach name="sub" item="vv" key="kk" >
                <li><a href="{:U(search,array('top_class_id'=>$top_class_id,'class_id'=>$vv[id]))}" <if condition="$class_id eq $vv[id]"> style="color: #22a3dd" </if>>{$vv.name}</a>
                    <if condition=" !empty($entry_arr[$vv['id']])">
                     <div class="dh-cd">
                       <foreach name="entry_arr[$vv[id]]" item="vvv" key="kkk" >
                       <a href="{:U(detail,array('id'=>$vvv['id']))}">{$vvv.name}</a> 
                      </foreach>
                    </div>
                  </if>
               </li>
        </foreach>  
    </ul>
  </div>
  <ul class="dh2 w1136">
<!--  <li id="dh2-h">
      <span class="dh2-tit dh2-tit-h" >温度</span>
      <p class="fl">
        <div class="dh2-tit-h">
        <label>
          <input type="radio" name="wendu" value="10度以下" id="wendu">
          <span></span> 10度以下</label>
        <label>
          <input type="radio" name="wendu" value="10-15度" id="wendu_1">
          <span></span> 10-15度</label>
        <label>
          <input type="radio" name="wendu" value="16-20度" id="wendu_2">
          <span></span> 16-20度</label>
        <label>
          <input type="radio" name="wendu" value="21-25度" id="wendu_3">
          <span></span> 21-25度</label>
          </div>
      </p>
    </li> -->
    <li><span class="dh2-tit">温度</span>
      <p class="fl">
         <foreach name="search_dict[tem]" item="vv" key="kk" >
            <label>
              <a href="{$vv[url]}" class="nodefault">            
                <input type="radio" name="wendu" value="{$kk}" id="wendu" <if condition="$get_arr[tem] eq $kk"> checked="checked" </if>>
                <span></span> {$vv.name}
              </a>
           </label>
         </foreach>
      </p>
    </li>
    <li><span class="dh2-tit">长度</span>
      <p class="fl">
        <foreach name="search_dict[len]" item="vv" key="kk" >
        <label>
          <a href="{$vv[url]}" class="nodefault"> 
          <input type="radio" name="zdu" value="{$kk}" id="zdu" <if condition="$get_arr[len] eq $kk"> checked="checked" </if>>
          <span></span> {$vv.name}</label>
        </a>
        </foreach>
      </p>
    </li>
    <li><span class="dh2-tit">PH值</span>
      <p class="fl">
         <foreach name="search_dict[ph]" item="vv" key="kk" >
          <label>
             <a href="{$vv[url]}" class="nodefault"> 
            <input type="radio" name="PH" value="{$kk}" id="PH" <if condition="$get_arr[ph] eq $kk"> checked="checked" </if>>
            <span></span>{$vv.name}
            </a>
          </label>
        </foreach>
      </p>
    </li>
    <li><span class="dh2-tit">食物类容</span>
      <p class="fl">
        <foreach name="search_dict[food]" item="vv" key="kk" >
            <label>
            <a href="{$vv[url]}" class="nodefault"> 
            <input type="radio" name="food" value="{$kk}" id="food" <if condition="$get_arr[food] eq $kk"> checked="checked" </if>>
            <span></span> {$vv.name}
            </a>
          </label>
            
        </foreach>
      </p>
    </li>
  </ul>