<div class="dh w1136">
    <foreach name="top" item="vo" key="k" >
          <a href=""  <if condition="$top_class_id eq $vo[id]"> style="background: #0071a4;" </if>>{$vo.name}</a>
    </foreach>  
  </div>
  <div class="dh1 w1136">
    <ul>
        <foreach name="sub" item="vv" key="kk" >
                <li><a href="#" <if condition="$class_id eq $vv[id]"> style="color: #22a3dd" </if>>{$vv.name}</a>
                    <if condition=" !empty($entry_arr[$vo.id])">
                     <div class="dh-cd">
                      <a href="">宠物龟</a>
                      <a href="">缸内植物</a>
                      <a href="">观赏虾</a>
                      <a href="">鱼缸设备</a>
                    </div>
                  </if>
               </li>
        </foreach>  
    </ul>
  </div>
  <ul class="dh2 w1136">
<!--  <li id="dh2-h">
      <span class="dh2-tit dh2-tit-h" >温度</span>
      <p class="fl">
        <div class="dh2-tit-h">
        <label>
          <input type="radio" name="wendu" value="10度以下" id="wendu">
          <span></span> 10度以下</label>
        <label>
          <input type="radio" name="wendu" value="10-15度" id="wendu_1">
          <span></span> 10-15度</label>
        <label>
          <input type="radio" name="wendu" value="16-20度" id="wendu_2">
          <span></span> 16-20度</label>
        <label>
          <input type="radio" name="wendu" value="21-25度" id="wendu_3">
          <span></span> 21-25度</label>
          </div>
      </p>
    </li> -->
    <li><span class="dh2-tit">温度</span>
      <p class="fl">
         <foreach name="dict[tem]" item="vv" key="kk" >
          <label>
          <input type="radio" name="wendu" value="{$kk}" id="wendu">
          <span></span> {$vv}</label>
         </foreach>
      </p>
    </li>
    <li><span class="dh2-tit">长度</span>
      <p class="fl">
        <foreach name="dict[len]" item="vv" key="kk" >
        <label>
          <input type="radio" name="zdu" value="{$kk}" id="zdu">
          <span></span> {$vv}</label>
        </foreach>
      </p>
    </li>
    <li><span class="dh2-tit">PH值</span>
      <p class="fl">
         <foreach name="dict[ph]" item="vv" key="kk" >
          <label>
            <input type="radio" name="PH" value="{$kk}" id="PH">
            <span></span>{$vv}</label>
        </foreach>
      </p>
    </li>
    <li><span class="dh2-tit">食物类容</span>
      <p class="fl">
        <foreach name="dict[food]" item="vv" key="kk" >
            <label>
          <input type="radio" name="PH" value="{$kk}" id="PH">
          <span></span> {$vv}</label>
        </foreach>
      </p>
    </li>
  </ul>