<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>宅宠百科_搜索页</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/all.css" />
<script src="__PUBLIC__/js/jquery.min.js"></script>

<!--fullSlide s-->
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/superslide.2.1.js"></script>
<!--fullSlide e-->

</head>

<body>
<div class="header">
  <div class="logo">
    <include file="header" />
  </div>
</div>  
  <div class="wrap"> 
  <!--fullSlide s-->
  <include file="slide" />
 <!--fullSlide end-->
  <include file="nav" />

<div class="ss-nr w1136">     
      <!--代码部分begin-->
  <div class="lanren">
    <div class="hidden">

    <foreach name="entry_data" item="vv" key="kk" >
      <li>
         <if condition="!empty($vv[thumb_272])">
        <img src="{$Think.const.IMG}{$vv.link}/{$vv.thumb_272}" class="fl" width="140" height="120">
        <else/>
        <img src="__PUBLIC__/images/timg.jpeg" class="fl" width="140" height="120">
        </if>
        <div class="fr"><a href="{:U('detail',array('id'=>$vv[id]))}" target="_self" style="color: #22a3dd">{$vv.name}</a><br>
        <if condition="!empty($vv[position_1])">
        <span class="fl">{$dict_tags['1']['name']}:{$dict_tags['1']['sub'][$vv['position_1']]['name']}</span>
        </if>
        <if condition="!empty($vv[position_2])">
        <span class="fl">{$dict_tags['2']['name']}:{$dict_tags['2']['sub'][$vv['position_2']]['name']}</span> 
        </if>
        <if condition="!empty($vv[position_3])">
        <span class="fl">{$dict_tags['3']['name']}:{$dict_tags['3']['sub'][$vv['position_3']]['name']}</span> 
        </if>
        <br>
        <span class="fl">偏好食性：{$vv.descent}</span>
        <span class="fl">寿命：{$vv.life}</span> </div>
      </li>
    </foreach>
      
<!--     <li><img src="__PUBLIC__/images/ss-pic.jpg" class="fl"><div class="fr">名 字<br>
    <span class="fl">大小:</span> <span class="fl">PH值:</span> <span class="fl">温度:</span><br>
    <span class="fl">饲养繁殖：</span><span class="fl">问题：</span> </div></li> -->

    </div>
    <ul class="list">数据加载中，请稍后...</ul>
    <div class="more"><a href="javascript:;" onClick="lanren.loadMore();"><img src="__PUBLIC__/images/more.png"></a></div>
  </div>
  <script>
    var _content = []; //临时存储li循环内容
    var lanren = {
      _default:4, //默认显示图片个数
      _loading:3,  //每次点击按钮后加载的个数
      init:function(){
        var lis = $(".lanren .hidden li");
        $(".lanren ul.list").html("");
        for(var n=0;n<lanren._default;n++){
          lis.eq(n).appendTo(".lanren ul.list");
        }
        $(".lanren ul.list img").each(function(){
          $(this).attr('src',$(this).attr('realSrc'));
        })
        for(var i=lanren._default;i<lis.length;i++){
          _content.push(lis.eq(i));
        }
        $(".lanren .hidden").html("");
      },
      loadMore:function(){
        var mLis = $(".lanren ul.list li").length;
        for(var i =0;i<lanren._loading;i++){
          var target = _content.shift();
          if(!target){
            $('.lanren .more').html("<p>全部加载完毕...</p>");
            break;
          }
          $(".lanren ul.list").append(target);
          $(".lanren ul.list img").eq(mLis+i).each(function(){
            $(this).attr('src',$(this).attr('realSrc'));
          });
        }
      }
    }
    lanren.init();
    $(function(){ 
  $('.back').click(function(){
    window.scrollTo(0, 0);
  });

})

  </script>
    <!--代码部分end-->
      <div class="nav40"></div>
      </div>
  </div>
  <!--footer s-->
  <include file="foot" />
  <!--footer e--> 

</body>
</html>
