<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>宅宠百科_搜索页</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/all.css" />

<!--fullSlide s-->
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/superslide.2.1.js"></script>
<!--fullSlide e-->

</head>

<body>
<div class="header">
  <div class="logo">
    <include file="header" />
  </div>
</div>  
  <div class="wrap"> 
  <!--fullSlide s-->
  <include file="slide" />
 <!--fullSlide end-->
  <include file="nav" />

<div class="ss-nr w1136">     
      <!--代码部分begin-->
  <div class="lanren">
    <div class="hidden">

    <foreach name="entry_data" item="vv" key="kk" >
      <li>
        <img src="{$Think.const.IMG}{$vv.link}/{$vv.thumb_name}" class="fl">
        <div class="fr">{$vv.name}<br>
        <span class="fl">长度:1111</span> <span class="fl">PH值:aadasd</span> <span class="fl">温度:asdasdasd</span><br>
        <span class="fl">祖籍：aaaaaaaa</span><span class="fl">寿命：asdasdasdas</span> </div>
      </li>
    </foreach>
      
    <li><img src="__PUBLIC__/images/ss-pic.jpg" class="fl"><div class="fr">名 字<br>
    <span class="fl">大小:</span> <span class="fl">PH值:</span> <span class="fl">温度:</span><br>
    <span class="fl">饲养繁殖：</span><span class="fl">问题：</span> </div></li>
    <li><img src="__PUBLIC__/images/ss-pic.jpg" class="fl"><div class="fr">名 字<br>
    <span class="fl">大小:</span> <span class="fl">PH值:</span> <span class="fl">温度:</span><br>
    <span class="fl">饲养繁殖：</span><span class="fl">问题：</span> </div></li>
    <li><img src="__PUBLIC__/images/ss-pic.jpg" class="fl"><div class="fr">名 字<br>
    <span class="fl">大小:</span> <span class="fl">PH值:</span> <span class="fl">温度:</span><br>
    <span class="fl">饲养繁殖：</span><span class="fl">问题：</span> </div></li>
    <li><img src="__PUBLIC__/images/ss-pic.jpg" class="fl"><div class="fr">名 字<br>
    <span class="fl">大小:</span> <span class="fl">PH值:</span> <span class="fl">温度:</span><br>
    <span class="fl">饲养繁殖：</span><span class="fl">问题：</span> </div></li>
      <li><img src="__PUBLIC__/images/ss-pic.jpg" class="fl"><div class="fr">名 字<br>
    <span class="fl">大小:</span> <span class="fl">PH值:</span> <span class="fl">温度:</span><br>
    <span class="fl">饲养繁殖：</span><span class="fl">问题：</span> </div></li>
    <li><img src="__PUBLIC__/images/ss-pic.jpg" class="fl"><div class="fr">名 字<br>
    <span class="fl">大小:</span> <span class="fl">PH值:</span> <span class="fl">温度:</span><br>
    <span class="fl">饲养繁殖：</span><span class="fl">问题：</span> </div></li>
    <li><img src="__PUBLIC__/images/ss-pic.jpg" class="fl"><div class="fr">名 字<br>
    <span class="fl">大小:</span> <span class="fl">PH值:</span> <span class="fl">温度:</span><br>
    <span class="fl">饲养繁殖：</span><span class="fl">问题：</span> </div></li>
    <li><img src="__PUBLIC__/images/ss-pic.jpg" class="fl"><div class="fr">名 字<br>
    <span class="fl">大小:</span> <span class="fl">PH值:</span> <span class="fl">温度:</span><br>
    <span class="fl">饲养繁殖：</span><span class="fl">问题：</span> </div></li>
    <li><img src="__PUBLIC__/images/ss-pic.jpg" class="fl"><div class="fr">名 字<br>
    <span class="fl">大小:</span> <span class="fl">PH值:</span> <span class="fl">温度:</span><br>
    <span class="fl">饲养繁殖：</span><span class="fl">问题：</span> </div></li>
      <li><img src="__PUBLIC__/images/ss-pic.jpg" class="fl"><div class="fr">名 字<br>
    <span class="fl">大小:</span> <span class="fl">PH值:</span> <span class="fl">温度:</span><br>
    <span class="fl">饲养繁殖：</span><span class="fl">问题：</span> </div></li>
    <li><img src="__PUBLIC__/images/ss-pic.jpg" class="fl"><div class="fr">名 字<br>
    <span class="fl">大小:</span> <span class="fl">PH值:</span> <span class="fl">温度:</span><br>
    <span class="fl">饲养繁殖：</span><span class="fl">问题：</span> </div></li>
    <li><img src="__PUBLIC__/images/ss-pic.jpg" class="fl"><div class="fr">名 字<br>
    <span class="fl">大小:</span> <span class="fl">PH值:</span> <span class="fl">温度:</span><br>
    <span class="fl">饲养繁殖：</span><span class="fl">问题：</span> </div></li>
    <li><img src="__PUBLIC__/images/ss-pic.jpg" class="fl"><div class="fr">名 字<br>
    <span class="fl">大小:</span> <span class="fl">PH值:</span> <span class="fl">温度:</span><br>
    <span class="fl">饲养繁殖：</span><span class="fl">问题：</span> </div></li>
    <li><img src="__PUBLIC__/images/ss-pic.jpg" class="fl"><div class="fr">名 字<br>
    <span class="fl">大小:</span> <span class="fl">PH值:</span> <span class="fl">温度:</span><br>
    <span class="fl">饲养繁殖：</span><span class="fl">问题：</span> </div></li>
    </div>
    <ul class="list">数据加载中，请稍后...</ul>
    <div class="more"><a href="javascript:;" onClick="lanren.loadMore();"><img src="__PUBLIC__/images/more.png"></a></div>
  </div>
  <script src="__PUBLIC__/js/jquery.min.js"></script>
  <script>
    var _content = []; //临时存储li循环内容
    var lanren = {
      _default:4, //默认显示图片个数
      _loading:3,  //每次点击按钮后加载的个数
      init:function(){
        var lis = $(".lanren .hidden li");
        $(".lanren ul.list").html("");
        for(var n=0;n<lanren._default;n++){
          lis.eq(n).appendTo(".lanren ul.list");
        }
        $(".lanren ul.list img").each(function(){
          $(this).attr('src',$(this).attr('realSrc'));
        })
        for(var i=lanren._default;i<lis.length;i++){
          _content.push(lis.eq(i));
        }
        $(".lanren .hidden").html("");
      },
      loadMore:function(){
        var mLis = $(".lanren ul.list li").length;
        for(var i =0;i<lanren._loading;i++){
          var target = _content.shift();
          if(!target){
            $('.lanren .more').html("<p>全部加载完毕...</p>");
            break;
          }
          $(".lanren ul.list").append(target);
          $(".lanren ul.list img").eq(mLis+i).each(function(){
            $(this).attr('src',$(this).attr('realSrc'));
          });
        }
      }
    }
    lanren.init();
    $(function(){ 
  $('.back').click(function(){
    window.scrollTo(0, 0);
  });

})

  </script>
    <!--代码部分end-->
      <div class="nav40"></div>
      </div>
  </div>
  <!--footer s-->
  <include file="foot" />
  <!--footer e--> 

</body>
</html>
