/*common*/
body{
	margin:0;
	color:#000000;
	font-size:12px;	
	font-family:"黑体","宋体", Arial, Helvetica, sans-serif;
}
p,h1,h2,h3,ul,li,form{
	padding:0;
	margin:0;
	list-style:none outside;
}
a{
	text-decoration:none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.nav10{ clear:both; height:10px;}
.nav20{ clear:both; height:20px;}
.nav40{ clear:both; height:40px;}
/*.w1136{ width:1136px; margin:0 auto; }
.w1136_w{width:1136px; margin:0 auto;  }*/

.w1136{ width:1354px; margin:0 auto; }
.w1136_w{width:1354px; margin:0 auto;  }

.wrap, .header, .bodyer, .footer{	
	width:100%;
}
.header{height:68px; }
.logo{width:1136px;height:30px; margin:18px auto;}
.bk-zc{ color:#e5e6e6;}
.bk-zc a{margin-right:13px;margin-left:6px; font-size:14px; color:#636363;}
.wrap{min-height:1257px; background:#f2f2f2 url(../images/bg_07.jpg) repeat-x ; padding-bottom:50px;}
/*banner*/
.v_out{position:relative;width:1136px;overflow:hidden; margin:0px auto; background:#2e2e2e}
.v_show{width:1136px;overflow:hidden;position:relative;height:460px;float:left}
.v_cont{ width:16650px;position:absolute;left:0px;top:0px;}
.v_cont ul{float:left;text-align:center;line-height:50px;}
.v_cont ul li{position:relative;width:1136px;height:460px;background:#f8f8f8;float:left;}
.v_cont .bj-tit{ position:absolute; bottom:0;width:1126px; height:30px; line-height:30px; background:url(../images/ban-bg.png) no-repeat; font-size:24px; text-align:left;padding-left:10px; color:#fff;}
/*---圆圈---*/
.circle{width:1136px; height:126px;}
.circle li{width:153px;height:122px; border:2px solid #fff;float:left;margin-right:6px;background:#ccc}
.circle .circle-cur{ border:2px solid #22a3dd;}


/*banner*/
.zcbk{}
.zc_zs li{ float:left; width:272px; margin-right:14px; background:#fff; height:358px; text-align:center;}
.zc_zs li a{ color:#333; font-size:22px; margin-top:10px;}
.zc_zs li a:hover{color:#22a3dd}

/*footer*/
.footer{ clear:both;height:316px; background:url(../images/f-bg_03.jpg) repeat-x;}
.f-dh{ padding-top:40px; }
.fdh1{ float:left; margin-left:60px; width:280px; color:#333; font-size:16px;}
.fdh2{ width:120px; float:left; text-align:center;  font-size:15px;}
.fdh2 a{ font-size:12px; display:block; width:120px; margin-top:18px; color:#666;}
.fdh3{ float:right; width:360px;}
.fdh3 li{ float:left; width:180px; text-align:center;}
.fdh3 a{ display:block; height:30px; color:#666; margin-top:10px;}
.footer p{ text-align:center; line-height:30px; color:#777775}

.back{ position:fixed; bottom: 200px; right: 10%;}
/* fullSlide */
.fullSlide{width:100%;position:relative;height:160px;background:#000;}
.fullSlide .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul{width:100% !important;}
.fullSlide .bd li{width:100% !important;height:160px;overflow:hidden;text-align:center;}
.fullSlide .bd li a{display:block;height:160px;}
.fullSlide .prev,.fullSlide .next{display:block;position:absolute;z-index:1;top:50%;margin-top:-30px;left:22%;width:40px;height:60px;background:url(../images/slider-arrow.png) -126px -137px no-repeat;cursor:pointer;}
.fullSlide .next{left:auto;right:22%;background-position:-6px -137px;}

.dh {height:60px; line-height: 60px; background:#22a3dd;}
.dh a{ float: left; margin-left: 25px; display: block; padding: 0px 10px; text-align: center;font-size: 24px;color: #fff;}
.dh a:hover{ background:#0071a4;}
.dh1 { position: relative;height:40px; line-height: 40px; background:#FFF;}
.dh1 li{ width: 100px; float: left; display: block;}
.dh1 a{ float: left; 
		margin-left: 25px; 
		display: block; 
		/*padding: 0px 10px; */
		padding: 0px 1px; 
		text-align: center;
		font-size: 18px; 
		color: #636363;}
.dh1 a:hover{ color:#22a3dd;}
.dh1 .dh-cd{display:none; position: absolute;top: 40px;left: 0px; width: 1136px; height: 52px; line-height: 52px; background: #f3f3f3; box-shadow: 0px 0 5px #f3f3f3,0 0px 5px #f3f3f3,0 1px 6px #d0d0d0,0px 0 5px #f3f3f3;}
.dh1 li:hover .dh-cd{ display: block;}
.dh1 .dh-cd a{ font-size:16px;}
.dh2 { background:#edf5fd; height:200px; margin-bottom:5px; }
.dh2 li{
	width: 94%;
	clear: both;
	
	color: #636363;
	/* [disabled]line-height:40px; */
	border-bottom: 1px solid #e5e5e5;
	margin: 0 auto;
}
.dh2 li p{ line-height:40px;}
.dh2 li .dh2-tit{ display:block; float:left; margin-top:10px; margin-right:25px; box-sizing: border-box; padding-left: 15px; width: 85px; height: 25px; line-height: 25px; background: #dcf2fe; border-top-right-radius:5em;border-bottom-right-radius:5em;}
.bj_h{ height:200px; margin-bottom:5px;}
.bj_h1{ height:200px; padding-bottom:20px;}
input[type="radio"]{appearance: none; -webkit-appearance: none;outline: none;display:none}

label input[type="radio"] + span{ float:left; margin-top:11px; margin-right:2px;width:18px;height:18px;display:block;background:url(../images/radio_01.jpg)  no-repeat;background-position:-1px -1px;}
label input[type="radio"]:checked + span{background-position:-1px -22px}
/***********nr************/
.x-xian{ border-bottom:#333 1px solid; width:80px;}
#dh2-h{ height:60px; width:96%; padding-left:2%; border-bottom:none;}
#dh2-h label{ line-height:40px; height:30px;}
.dh2-tit-h{ margin-bottom:40px;}
.dh2 label{width:100px;height:40px;display:inline-block;cursor:pointer;}
.nr{ background:#fff; height:350px;  box-sizing: border-box; padding:0px 35px;}
.nr-tit{ height:60px; line-height:60px; font-size:24px; color:#222;}
.nr-tit img{ float:left; margin-top:22px; margin-right:5px;}
.nr-xq div.fl{ width:58%;}
.nr-xq div.fl p{ margin:15px 0; color:#222; font-size:16px;}
.nr-xq div.fl i{font-style:normal; color:#636363; font-size:16px;}
.nr-xq div.fl .fr{ margin-right:30px;}
.nr-xq div.fr{ text-align:center;}
.nr-xq div.fr img{ padding:10px;box-shadow: -2px 0 5px #d0d0d0,0 -2px 5px #fff,0 2px 5px #d0d0d0,2px 0 5px #d0d0d0;
}


#tab{position:relative; }
#tab .tabList{
	box-sizing: border-box;
	width:100%;
	height:56px;
	border:1px solid #ccc;
	background:#fefefe;
	background:-moz-linear-gradient(top, #fefefe, #ededed);	
	background:-o-linear-gradient(left top,left bottom, from(#fefefe), to(#ededed));
	background:-webkit-gradient(linear,left top,left bottom, from(#fefefe), to(#ededed));	}
#tab .tabList ul li{
	float:left;	
	width:120px;
	height:56px;
	line-height:56px;
	font-size:20px;
	color:#636363;
	text-align:center;	
	position:relative;
	cursor:pointer;
	opacity:1;
}
#tab .tabCon{
	position:absolute;
	left:-1px;
	top:57px;
	border-top:none;
	
}
#tab .tabCon div{
	box-sizing: border-box;
	/*width: 1136px;*/
	width: 1354px;
	padding:10px;
	position:absolute;
	opacity:0;
	filter:alpha(opacity=0);
	background: #fff;
	
}
#tab .tabList li.cur{
	border-bottom:none;
	background:#22a3dd;
	color:#fff;
}
#tab .tabCon div.cur{
	opacity:10;
	filter:alpha(opacity=100);
	height:auto;
}
/**********************/
.menu_list {
	width: 1126px;	
	margin: 10px auto;
    padding-bottom:50px;
}
.menu_list  li {
	display: block;	
	width: 100%;
	min-height: 30px;
	margin: 20px auto;
}
.menu_list  li .fuMenu {
	box-sizing: border-box;
	border-left: 5px solid #2aa3dd;
	display: block;
	padding-left: 15px;
	margin-left: 10px;
	font-size: 18px;
	color: #636363;
	cursor: pointer;
	height: 25px;
	line-height: 25px;	
	width: 1085px;	
	float: left;
}
.menu_list  li .xiala {
	float: left;
	left:10px;
}
.menu_list  li .zcd {	
	color: #222;
	box-sizing: border-box;
	font-size: 14px;	
	margin: 15px auto;	
	line-height: 25px;	
	width: 1100px;
}
.menu_list  li p {		
	clear: both;
	display: none;
	height: auto;
}
.menu_tit{
	box-sizing: border-box;
	border-left: 5px solid #2aa3dd;
	display: block;
	padding-left: 15px;
	/*margin-left: 10px;*/
	margin-left: -100px;
	font-size: 18px;
	color: #636363;
	height: 25px;
	line-height: 25px;	
	width: 100px;	
	float: left; }
.menu_min{ clear:both; width:1100px; margin:0 auto}
.x-xian2{ float:left; width:990px; border-bottom:#636363 solid 2px; height:13px;}
.nav_min{width:1100px;  clear:both; margin-bottom:50px;}
.menu_tit_p{width:800px; float:left; margin-top:10px; padding-left:40px; padding-bottom:30px;  }
.menu_tit_p p{line-height:20px; text-indent:20px; float:left;  margin-top:10px; font-size:14px; color:#222222;  }
.nav_min img { float:right; width:240px; margin:10px;}
.m_10{ margin-top:30px;clear:both;}
.height-30{ padding-bottom:30px; height:1400px}



/*********ss********/
.list{background:#fff; min-height:350px;  box-sizing: border-box; padding:0px 30px;}
.list li{ height:150px;padding-top:25px;}
.list li div.fr{ width:80%; font-size:16px; line-height:30px; color:#22a3dd;}
.list li span.fl{ display:block; width:33%; color:#636363;}

/*********更多*******/
    .hidden{ display: none;}
	/*.lanren{width:1136px;height: auto;margin:0 auto;overflow: hidden;text-align: left;background:#fff;padding:5px;}*/
	.lanren{height: auto;margin:0 auto;overflow: hidden;text-align: left;background:#fff;padding:5px;}
	.lanren ul.list p{text-align: center;padding: 10px;}
	.lanren .more{overflow: hidden;padding:10px;text-align: center;}
	.lanren .more a{display: block;width: 80px;padding:8px 0;color:#fff;margin:0 auto;text-align:center;border-radius:3px;}
	.lanren .more a:hover{text-decoration: none;color: #fff;}


/********弹窗*********/
.jmxx{	position: fixed;  width: 100%; height: 100%; top:0; left: 0; z-index: 5; display: none;	}
.jmxx .close{
	float: right;
	width:30px;
	height: 30px;
	display: block;
	background:url(../images/close.png) no-repeat; 	
}
.jmxx .bg{ position: absolute;width: 100%; height: 100%; top:0; left: 0; z-index: 6; background: rgba(0,0,0,.7);}
.v_out1 {
	overflow: hidden;
	width: 760px;
	margin: 0 auto;
	z-index: 999;
	top: 180px;
}
.v_show1 {
	width: 630px;	
	overflow: hidden;
	position: relative;
	height: 420px;
	float: left
}
.v_cont1 {
	width: 6650px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.v_cont1 ul {
	float: left;
	text-align: center;
	line-height: 50px;
}
.v_cont1 ul li {
	width: 630px;
	height: 550px;
	background: #f8f8f8;
	float: left;
	margin-top: 3px;
}
/*---圆圈---*/
.v_out_p1 {
	position: relative;
	overflow: visible
}

.circle1 {
	position: absolute;	
	top: 440px;
}
.circle1 li {
	box-sizing: border-box;
	width: 134px;
	height:106px;
	float: left;
	margin-right: 10px;
	border: 2px solid #ccc;
}
.circle1 .circle-cur1 {
	border: 2px solid #22a3dd;
}
/*---切换---*/
.prev1, .next1 {
	float: left;
	padding: 185px 0
}
.prev1 a{
	background: url(../images/left.png) no-repeat;
}

.next1 a {
	background:  url(../images/right.png) no-repeat;
}
.prev1, .prev1 a, .next1, .next1 a {
	width: 30px;
	height: 30px;
	display: block
}
